<!DOCTYPE html>
<html>

<head>
    {{block "title" .}}
    {{end}}
    <meta name="viewport"
        content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <style>
        @-ms-viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/button.css">
</head>

<body>
    <div id="pano"></div>

    <script src="../../js/es5-shim.min.js"></script>
    <script src="../../js/eventShim.js"></script>
    <script src="../../js/rAF.js"></script>
    <script src="../../js/marzipano.js"></script>

    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
</body>

</html>