{{define "title"}}
<title> {{.Title}} </title>
<meta name="description" content="{{ .Params.description }}" />
{{end}}

{{define "main"}}

<div id="btn-group">
     {{range .Params.multimedia}}<button data-student="{{.student}}" data-src="{{.fileID}}">{{.student}}</button>{{end}}
</div>

<div id="screen" style="background-color: #444; position: relative; width: 720px; height: 480px">
     <iframe id="content" width=100% height=100% src="https://drive.google.com/file/d/1poDaP5TTPQJw_4xYy3S7qqI4cngL9ouY/preview"></iframe>
</div>

<script>
     'use strict';
 
     // Create viewer.
     var viewer = new Marzipano.Viewer(document.getElementById('pano'));

     // Create source.
     var source = Marzipano.ImageUrlSource.fromString("//u.cubeupload.com/acanalis/{{.Params.panoID}}.jpg");

     // Create geometry.
     var geometry = new Marzipano.EquirectGeometry([{ width: 4000 }]);

     // Create view.
     var limiter = Marzipano.RectilinearView.limit.traditional(1024, 100 * Math.PI / 180);
     var view = new Marzipano.RectilinearView({}, limiter);

     // Create scene.
     var scene = viewer.createScene({
          source: source,
          geometry: geometry,
          view: view,
          pinFirstLevel: true
     });

     // Display scene.
     scene.switchTo();

     // Get the hotspot container for scene.
     var container = scene.hotspotContainer();

     // Put up the screen
     var screen = container.createHotspot(document.getElementById("screen"), {yaw: 0,pitch:0},
     {perspective: {radius: 2000, extraTransforms: "",}});

     //Buttons
     const btnGroup = document.getElementById('btn-group');
     function updateSRC(event) {
          const isButton = event.target.nodeName === 'BUTTON';
          if (!isButton) {return;};
          console.log(event.target.dataset.student);
          console.log(event.target.dataset.src);
          var newsrc = `https:\/\/drive.google.com\/file\/d\/${event.target.dataset.src}\/preview`;
          console.log(newsrc);
          document.getElementById("content").src = newsrc
     }
     btnGroup.addEventListener('click',updateSRC);
     
     //Debug
     {{if .Site.Params.debug }} 
     var dbp = document.createElement("div")
     dbp.style = "background-color: yellow; width: 50px; height: 50px; position: relative;"
     var dbhotspot = container.createHotspot(dbp, { yaw: 0, pitch: 0 },
     { perspective: { radius: 2000, extraTransforms: "",}});
     var dbtext = document.createElement("p")
     dbtext.style = "position: absolute; top: 0; left: 0; background-color: white;  font-size:x-large"
     document.body.appendChild(dbtext)
     setInterval(displayPosition,40)
     function displayPosition() {
          var num = viewer.view();
          dbtext.innerHTML = "yaw:" + num.yaw().toFixed(2) + " - pitch:" + num.pitch().toFixed(2) ;
          dbhotspot.setPosition({yaw:num.yaw(), pitch: num.pitch()});
     }
     {{end}}
</script>


{{end}}