{{define "title"}}

<title> {{.Title}} </title>
<meta name="description" content="{{ .Params.description }}" />

{{end}}

{{define "main"}}

{{ $width := default $.Site.Params.defaultwidth .Params.media.width }}
{{ $height := default $.Site.Params.defaultheight .Params.media.height }}

<div  style="position: absolute;"><p id="debug" style="background-color: white;"></p></div>
<div id="debugpoint" style="background-color: yellow; width: 50px; height: 50px; position:relative"></div>

<div id="media" style="background-color: #444; position: relative; width: {{ $width }}px; height: {{ $height }}px">
  <iframe width=100% height=100% src="{{.Params.media.url}}"></iframe>
</div>

<script>
  'use strict';

  // Create viewer.
  var viewer = new Marzipano.Viewer(document.getElementById('pano'));

  // Create source.
  var source = Marzipano.ImageUrlSource.fromString(
    "//u.cubeupload.com/acanalis/{{.Params.pano_id}}.jpg"
  );

  // Create geometry.
  var geometry = new Marzipano.EquirectGeometry([{ width: 4000 }]);

  // Create view.
  var limiter = Marzipano.RectilinearView.limit.traditional(1024, 100 * Math.PI / 180);
  var view = new Marzipano.RectilinearView({ yaw: {{ .Params.media.yaw }} }, limiter);

  // Create scene.
  var scene = viewer.createScene({
    source: source,
    geometry: geometry,
    view: view,
    pinFirstLevel: true
  });

  // Display scene.
  scene.switchTo();

  // Get the hotspot container for scene.
  {{ if isset .Params "media" }}
  var container = scene.hotspotContainer();
  container.createHotspot(document.getElementById('media'), { yaw: {{ .Params.media.yaw }}, pitch: {{ .Params.media.pitch }} },
    { perspective: { radius: {{ $height }}/{{ .Params.media.screensize }}, 
     extraTransforms: "translate({{.Params.media.move_x}}px, {{ mul -1 (float .Params.media.move_y)}}px"}});
  {{end}}
  
{{if .Site.Params.debug}}
var h = container.createHotspot(document.getElementById('debugpoint'), { yaw: 0, pitch: 0 },
    { perspective: { radius: 2000, 
     extraTransforms: "",}});

setInterval(displayDate,30);

function displayDate() {
  var num = viewer.view();
  document.getElementById("debug").innerHTML = "yaw:" + num.yaw().toFixed(3) + " - pitch:" + num.pitch().toFixed(3) ;
  h.setPosition({yaw:num.yaw(), pitch: num.pitch()});
}
{{end}}
</script>

{{end}}