{{define "title"}}
<title> {{.Title}} </title>
<meta name="description" content="{{ .Params.description }}" />
{{end}}

{{define "main"}}

<script>
     'use strict';
 
     // Create viewer.
     var viewer = new Marzipano.Viewer(document.getElementById('pano'));

     // Create source.
     var source = Marzipano.ImageUrlSource.fromString("{{.Params.panoURL}}");

     // Create geometry.
     var geometry = new Marzipano.EquirectGeometry([{ width: 4000 }]);

     // Create view.
     var limiter = Marzipano.RectilinearView.limit.traditional(1024, 100 * Math.PI / 180);
     var view = new Marzipano.RectilinearView({}, limiter);

     // Create scene.
     var scene = viewer.createScene({
          source: source,
          geometry: geometry,
          view: view,
          pinFirstLevel: true
     });

     // Display scene.
     scene.switchTo();

     var tornado = scene.hotspotContainer();
     var multimedia = JSON.parse({{jsonify .Params.multimedia }})
     const n = multimedia.length
     var i;
     for (i in multimedia){
          let m = document.createElement("div"); m.className = "leaf"
          let fr = document.createElement("div")
          let img = document.createElement("img")
          let student = document.createElement("p");
          fr.appendChild(img)
          m.appendChild(fr)
          m.append(student)

          var newsrc = `https:\/\/lh3.googleusercontent.com\/d\/${multimedia[i].fileID}=s150?`
          img.src = newsrc
          student.innerText = multimedia[i].student
          let p = 0.4 * (0.5 - i/n) * Math.PI
          let y = i * 2.4
          tornado.createHotspot(m, {yaw:y , pitch: p},{perspective: {radius: 500}})
     }

     // Get the hotspot container for scene.
  
     /* var screen = tornado.createHotspot(document.getElementById("screen"), {yaw: 0,pitch:-1.4},
     {perspective: {radius: {{ .Params.height }}/{{ .Params.screensize }}, extraTransforms: "",}});
     */
     //Buttons
     /*
     const btnGroup = document.getElementById('btn-group');
     function updateSRC(event) {
          const isButton = event.target.nodeName === 'BUTTON';
          if (!isButton) {return;};
          var newsrc = `https:\/\/drive.google.com\/file\/d\/${event.target.dataset.src}\/preview`;
          document.getElementById("content").src = newsrc;
          document.getElementById("student").innerText = event.target.dataset.student;
     }
     btnGroup.addEventListener('click',updateSRC);
     */
     //Debug
     {{if .Site.Params.debug }} 
     var dbp = document.createElement("div")
     dbp.style = "background-color: yellow; width: 50px; height: 50px; position: relative;"
     var dbhotspot = tornado.createHotspot(dbp, { yaw: 0, pitch: 0 },
     { perspective: { radius: 2000, extraTransforms: "",}});
     var dbtext = document.createElement("p")
     dbtext.style = "position: absolute; top: 0; left: 0; background-color: white;  font-size:x-large"
     document.body.appendChild(dbtext)
     setInterval(displayPosition,40)
     function displayPosition() {
          var num = viewer.view();
          dbtext.innerHTML = "yaw:" + num.yaw().toFixed(2) + " - pitch:" + num.pitch().toFixed(2) ;
          dbhotspot.setPosition({yaw:num.yaw(), pitch: num.pitch()});
     }
     {{end}}
</script>


{{end}}